@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea, select{
  @apply border flex flex-col border-gray-300 w-full rounded-sm px-1;
  @apply mb-2;
}

input:focus, textarea:focus, select:focus{
  @apply border border-blue-900;
}

h1{
  @apply text-blue-900 mb-2 text-xl;
}

label{
  @apply text-blue-900;
}

.btn-primary{
  @apply bg-blue-900 rounded-md px-4 py-1 text-white;
}

table.table-basic {
  @apply w-full mt-4;
}

table.table-basic thead tr td {
  @apply bg-blue-100;
}

table.table-basic tr td {
  @apply border border-blue-300  p-1;
}

table.table-basic a{
  @apply text-white bg-blue-900 text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;
}

img{
  max-height: 100%;
}



/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
