@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea, select{
  @apply border flex flex-col border-gray-300 w-full rounded-sm px-1;
  @apply mb-2;
}

input:focus, textarea:focus, select:focus{
  @apply border border-blue-900;
}

h1{
  @apply text-blue-900 mb-2 text-xl;
}

label{
  @apply text-blue-900;
}

.btn-primary{
  @apply bg-primary rounded-sm px-4 py-1 text-white;
}

.btn-primary1{
  @apply rounded-md bg-blue-800 text-white py-1 px-4 inline-block mt-2 mb-2;
}

.btn-primary1:hover{
  transform: scale(1.01);
}



table.table-basic {
  @apply w-full mt-4;
}

table.table-basic thead tr td {
  @apply text-sm text-gray-400;
}

table.table-basic tr td {
  @apply border border-blue-300  p-1;
}

table.table-basic a{
  @apply text-white bg-blue-900 text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;
}

img{
  max-height: 100%;
}

.limit-text {
  max-width: 120px; /* Set your desired max-width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto; /* Center the element horizontally */
  text-align: center; /* Center the text within the element */
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.product-item {
  width: 220px; /* Fixed width for all product items */
  margin: 1rem; /* Adjust margin as needed */
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.link-button {
  @apply bg-gray-100 rounded-sm border-gray-600 text-gray-800 border-primary text-sm py-1 px-2 inline-flex gap-1 mr-1;
  outline: 1px solid rgb(95, 92, 92); 
}

.link-button-red{
  @apply  bg-red-100 rounded-sm text-red-900 shadow-sm border-primary text-sm py-1 px-2 inline-flex gap-1 mr-1;
  outline: 1px solid rgb(227, 52, 52);
}

.product-item:hover, .link-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 150px; /* Adjust height as needed */
  object-fit: cover;
  border-bottom: 1px solid #e2e8f0; /* Border color */
}

.product-content {
  padding: 1rem;
  text-align: center;
}
.product-image {
  width: 100%;
  height: 200px; /* Set your desired height */
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.product-content {
  text-align: center;
}

/* Message box starts here */
.container {
  clear: both;
  position: relative;
}

.container .arrow {
  width: 12px;
  height: 20px;
  overflow: hidden;
  position: relative;
  float: left;
  top: 6px;
  right: -1px;
}

.container .arrow .outer {
  width: 0;
  height: 0;
  border-right: 20px solid #000000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.container .arrow .inner {
  width: 0;
  height: 0;
  border-right: 20px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 2px;
}

.container .message-body {
  float: left;
  width: 300px;
  height: auto;
  border: 1px solid #CCC;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 6px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.container .message-body p {
  margin: 0;
}

@media (max-width: 768px) {
  input, textarea, select {
    @apply mb-1; /* Adjust margin as needed */
  }

  h1 {
    @apply text-xl; /* Adjust font size as needed */
  }

  .btn-primary1 {
    @apply mt-1 mb-1; /* Adjust margin as needed */
  }

  table.table-basic {
    @apply mt-2; /* Adjust margin as needed */
  }

  .product-container{
    gap: 20px;
  }

  .product-item {
    width: 45%; /* Adjust width for smaller screens */
    margin: 0.5rem 0; /* Adjust margin as needed */
  }

  .product-image {
    height: 150px; /* Adjust height as needed */
  }

  .product-content {
    padding: 0.5rem; /* Adjust padding as needed */
  }

  .container .message-body {
    width: 100%; /* Adjust width for smaller screens */
  }

  .link-button{
    font-size: small;
  }
}
@media (max-width: 480px) {
  input, textarea, select {
    @apply mb-1; /* Adjust margin as needed */
  }

  h1 {
    @apply text-xl; /* Adjust font size as needed */
  }

  .btn-primary1 {
    @apply mt-1 mb-1; /* Adjust margin as needed */
  }

  table.table-basic {
    @apply mt-2; /* Adjust margin as needed */
  }

  .product-container{
    gap: 20px;
  }

  .product-item {
    width: 45%; /* Adjust width for smaller screens */
    margin: 0.5rem 0; /* Adjust margin as needed */
  }

  .product-image {
    height: 130px; /* Adjust height as needed */
  }

  .product-content {
    padding: 0.5rem; /* Adjust padding as needed */
  }

  .container .message-body {
    width: 100%; /* Adjust width for smaller screens */
  }

  .link-button{
    font-size: 14px;
    padding: 3px;
    margin: 0px;
    svg{
      width: 14px;
      height: 14px;
      padding: 0px;
      margin: 0px;
    }
  }
  .link-button-red{
    font-size: 14px;
    padding: 3px;
    margin: 0px;
    svg{
      width: 14px;
      height: 14px;
      padding: 0px;
      margin: 0px;
    }
  }
}
